admin login

<center>
    <%- include('../_error') %> 
<form action="/admin/login" method="POST">
    User Name
    <input type="text" name="userName">
    Password
    <input type="password" name="password">
    <input type="submit">

</form>

</center>