
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantasy | make your home better</title>
</head>
<body>
    <% if (locals.admin) { %>
        <%- include('../admin/_headder') %>
    <% }else{  %> 
        <%- include('../index/_headder') %> 
    <% } %> 
    
    <%- body %> 
</body>
</html>