

<!-- ##### Header Area Start ##### -->
<header class="header-area">



    <!-- ***** Navbar Area ***** -->
    <div class="alazea-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="alazeaNav">

                    <!-- Nav Brand -->
                    <a href="/" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Navbar Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/gallery">Shop</a></li>
                                <% if(locals.user){ %>
                                    <li><a href="/user/dashboard"><%=locals.user.firstName%></a></li>
                                    <li><a href="/order/user">Orders</a></li>
                                    <li><a href="/cart">Cart</a></li>
                                    <li><a href="/user/logout">LogOut</a></li>
                                <% }else{ %>
                                    <li><a href="/user/login">Login</a></li>
                                    <li><a href="/user/signup">SignUp</a></li>
                                <% } %>   
                            </ul>
                        </div>
                        <!-- Navbar End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->